.progresso
{
  width: 100%;
  height: 20px;
  border-style: solid;
}
.barra
{
  height: 100%;
  background-color: chartreuse;
}
.texto-center
{
  text-align: center;
  align-items: center;
}

.row
{
  
   border-style: unset
}
.botoes
{
  justify-content: space-around;
}

#IniciarJogo,#Mensagem
{
  display: flex;
  justify-content: center;
  width: 100%;

}